
{% load static  %}
<section class="slider">
    <div class="swiper-container"> 
      <div class="swiper-wrapper"> 
        <div class="swiper-slide" data-background="{% static 'minds_app/images/slide01.jpg' %}">
          <div class="slide-inner">
          <figure><img src="{% static 'minds_app/images/client01.png' %}" alt="Image"></figure>
              <h2>Space in typographical terms is usually</h2>
              <div class="link">
              <a href="#">SEE CASE STUDY</a>
              </div>
              <!-- end link -->
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide" data-background="{% static 'minds_app/images/slide02.jpg' %}">
          <div class="slide-inner">
          <figure><img src="{% static 'minds_app/images/client02.png' %}" alt="Image"></figure>
              <h2>Space in typographical terms is usually</h2>
              <div class="link">
              <a href="#">SEE CASE STUDY</a>
              </div>
              <!-- end link -->
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide" data-background="{% static 'minds_app/images/slide03.jpg' %}">
          <div class="slide-inner">
          <figure><img src="{% static 'minds_app/images/client03.png' %}" alt="Image"></figure>
              <h2>Space in typographical terms is usually</h2>
              <div class="link">
              <a href="#">SEE CASE STUDY</a>
              </div>
              <!-- end link -->
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->
      </div>
      <!-- end swiper-wrapper -->
      <div class="swiper-pagination"></div>
      <!-- end swiper-pagination -->
      <div class="swiper-button-next"><span></span><b>NEXT</b></div>
      <!-- end swiper-button-next -->
    </div>
    <!-- end swiper-container -->
  </section>
  <!-- end slider -->
  